html {
  background-color: #222831;
}
body {
  display: flex;
}
#container {
  border: black 2px solid;
  display: flex;
  justify-content: center;
  width: 900px;
  height: 900px;
  margin: auto;
}
.box {
  flex: 1;
  border: solid 1px grey;
  background-color: #e5e5e5;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#userPanel {
  border: black 1px solid;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #eeeeee;
}
.changedColor {
}
